@font-face {
    font-family: "Cascadia Code";
    src: url(../CascadiaCode.woff2) format("woff2");
}

body {
    font-family: "Cascadia Code", monospace;
    text-align: left;
    background-color: #1B1D1E;
    color: #23E298;
    font-size: 4vmin;
    line-height: 4.1vmin;
    margin:5;
    list-style: none;
}
#content{
    min-width: 82vmin;
    min-height: 82vmin; 
}

ul{
    display: inline-block;
}

a{
    text-decoration:none;
}

/*Terminal boot*/ 
.terminal {
    animation-name: fadeOut;
    animation-duration: 1ms;
    animation-fill-mode: forwards;
    animation-delay: 7000ms;
}


.terminal p {
    display: block;
    width: 0px;
    margin: 0;
    color: #23E298;
    overflow: hidden;
    white-space: nowrap;
    animation-name: writeText;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
}

.page {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-delay: 7500ms;

}

.delay1 {
    animation-delay: 2000ms;
}

.delay2 {
    animation-delay: 3000ms;
}

.delay3 {
    animation-delay: 4000ms;
}

.delay4 {
    animation-delay: 5000ms;
}

.delay5 {
    animation-delay: 6000ms;
}

@keyframes writeText {
    from {
        width: 0;
    }

    to {
        width: 50%;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        height: 115px;
    }

    to {
        opacity: 0;
        height: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        height: 0;
    }

    to {
        opacity: 1;
        height: 115px;
    }
}

#loader {
    width: 100%;
    height: 2px;
}

#loaded {
    height: 2px;
    width: 0px;
    background-color: #23E298;
    animation-name: load;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
}

@keyframes load {
    0% {
        width: 0;
    }

    50% {
        width: 70%;
    }

    70% {
        width: 100%;
    }

    80% {
        opacity: 1;
    }

    100% {
        width: 100%;
        opacity: 0;
    }
}
.welcome{
    text-align: left;
    color: #BBBBBB;
}

/*menu*/
.menu {
    color: #BBBBBB;
    z-index: 1;
}

/*projects*/
.github{
    width: 600px;
    border: 0;
    display:block;
}
.projects {
    text-align: left;
    z-index: 1;
}

.section{
    color:#BBBBBB;
}

/*command*/
.command {
    color: #BBBBBB;
}

#user{
    color: #23E298;
}
#dir{
    color: #D08010;
}

a:link {
    color: #BBBBBB;
}
a:visited {
    color: #BBBBBB;
}

/* BEGIN: Media Query for Phone */
@media only screen and (min-width: 768px) {
    body {
      font-size: 2.5vmin;
      line-height: 2.6vmin; }
    #content {
      min-width: 60vmin; } 
}
