@font-face {
    font-family: "Cascadia Code";
    src: url(../CascadiaCode.woff2) format("woff2");
}

body {
    font-family: "Cascadia Code", monospace;
    text-align: left;
    background-color: black;
    color: green;
    font-size: 25px;
    margin:5;
    list-style: none;
}

ul{
    display: inline-block;
}

a{
    text-decoration:none;
}

/*Terminal boot*/ 
.terminal {
    animation-name: fadeOut;
    animation-duration: 1ms;
    animation-fill-mode: forwards;
    animation-delay: 7000ms;
}


.terminal p {
    display: block;
    width: 0px;
    margin: 0;
    font-size: 25px;
    color: green;
    overflow: hidden;
    white-space: nowrap;
    animation-name: writeText;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
}

.page {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-delay: 7500ms;
}

.delay1 {
    animation-delay: 2000ms;
}

.delay2 {
    animation-delay: 3000ms;
}

.delay3 {
    animation-delay: 4000ms;
}

.delay4 {
    animation-delay: 5000ms;
}

.delay5 {
    animation-delay: 6000ms;
}

@keyframes writeText {
    from {
        width: 0;
    }

    to {
        width: 50%;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        height: 115px;
    }

    to {
        opacity: 0;
        height: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        height: 0;
    }

    to {
        opacity: 1;
        height: 115px;
    }
}

#loader {
    width: 100%;
    height: 2px;
}

#loaded {
    height: 2px;
    width: 0px;
    background-color: green;
    animation-name: load;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
}

@keyframes load {
    0% {
        width: 0;
    }

    50% {
        width: 70%;
    }

    70% {
        width: 100%;
    }

    80% {
        opacity: 1;
    }

    100% {
        width: 100%;
        opacity: 0;
    }
}
.welcome{
    text-align: left;
    font-size: 25px;
    color: white;
}
/*menu*/
.menu {
    text-align: center;
    font-size: 25px;
    z-index: 1;
}

/*projects*/
.github{
    text-align: center;
    width: 600px;
    border: 0;
    border-radius: 15px;
    margin: 0 auto;
    display:block;
}
.projects {
    text-align: left;
    font-size: 25px;
    z-index: 1;
}

.projects h2 {
    text-align: center;
}

.projectscard {
    color: #3b78ff;
}

.projectscard h3 {
    line-height: 0.5;
}

/*video*/
.video {
    text-align: center;
}
.youtube {
    width: 33%;
    border-radius: 30px;
    padding: 30px;
}

/*contact*/
.contact {
    text-align: center;
    font-size: 25px;
}

/*command*/
.command {
    font-size: 20px;
    color: white;
}

a:link {
    color: white;
}

/* BEGIN: Media Query for Phone */
@media only screen and (max-width: 1080px) {
    body{
        font-size: 35px;
    }
    .welcome{
        font-size: 35px;
    }
    .terminal p{
        font-size: 35px;
        animation-duration: 1000ms;
    }
    .menu{
        font-size: 35px;
    }
    .contact{
        font-size: 35px;
    }
    .command{
        font-size: 30px;
    }
}
/* END: Media Query for Phone */
