body{
  background-image: url("../img/sfondo.jpg");
  font-family: "Lucida Console", Courier, monospace;
  background-attachment:fixed;
  background-size: cover;
  color:white;
}
header{
  position:absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  
}
#logo {
  position:absolute;
  top: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 250px ;
  width: 250px;
  z-index:-1;
}

#scritta{
  position:absolute;
  top: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: auto;
}
footer{
  grid-area: footer;
}
